
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .navbar nav{
            height: 35px;
            width: 100%;
            padding-top: 15px;
            background-color: #666;
        }

        .navbar nav a{
            color: white;
            font-size: 15px;
            height: 100px;
            text-align: center;
            display: inline;
            margin: 50px;
            padding-bottom: 10px;
            text-decoration: none;
        }

        .navbar nav a:hover{
            color: rgb(241, 191, 191);
        }
        header{
            background-color: #333;
            color: #fff;
            text-align: right;
            padding: 25px;
            padding-right: 50px;
        }

        

        header img{
            max-width: 24%;
            height: auto;
            border-radius: 50%;
            padding: 25px;
            padding-right: 50px;
            padding-top: 0px;
            margin-top: -179px;
        }

        header h2{
            padding-right: 100px;
        }

        header p{
            text-align: right;
            padding-right: 100px;
            color: rgb(241, 191, 191);
            margin-top: -20px;
        }
        img{
            max-width: 30%;
            height: auto;
            border-radius: 50%;
        }

      .paracontainer{
        background-color: #706b6b;
        bottom: 0;
        width: 100%;
        height: 86px;
        padding-top: 13px;
      }
.para .info p{
  color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: 35px;
    padding-left: 988px;
 
}

header .about p{
    margin-left: 100px;
    margin-right: 800px;
    justify-content: center;
    font-size: 20px;
}

section{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-right: 200px;
}


table {
    width: 50%;
    border-radius: 50px;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 600px;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}



/* Styling for table headers */
th {
    background-color: #009879;
    color: white;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid #dddddd;
}

/* Styling for table cells */
td {
    border: 2px solid #dddddd;
    padding: 10px;
    background-color: #615353;
}
 header section{
color: black;
background-image: url('education.jpg');
background-size: cover;
border-radius: 15px;
border: 2px solid ; 
width: 35%; 
margin-bottom: 0px;
margin-left: 100px;
margin-top: 7px;
}

header section:hover{
    box-shadow:  10px 4px 8px rgba(247, 247, 247, 0.947);
    transform: scale(1.1) rotate(360deg);
    transition:cubic-bezier(0.55, 0.055, 0.675, 0.19) ;
    cursor: pointer;
}
section{
    display: inline-block;
    height: 300px;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 0px;
    margin: -10px;
    padding-right: 40px;
    padding: 0;
}

section .edu h2 h4{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
}

section h4{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
}

section h6{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
}

header .head{
    margin-right: 857px;
}

header .infor{
    margin-right: 857px;
    margin-bottom: 50px;
}

       