@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

/* Visiting Card Styles */
.id-card-wrapper-front {
    position: relative;
    width: 167.25pt;
    /* 223px */
    height: 237.75pt;
    /* 317px */
    margin: 17.25pt;
    /* 23px */
    background-color: #ffffff;
    border: 0.75pt solid #ffffff;
    /* 1px */
    overflow: hidden;
}

.id-card-wrapper-front .id-card-background {
    background-color: #fef;
    height: 100%;
}

.id-card-wrapper-front .id-blue {
    bottom: 45mm;
    right: -1mm;
    width: 61mm;
    height: 55mm;
    background: linear-gradient(to top right, #f237ef, #fc5252);
    transform: skewY(7deg);
    position: absolute;
}

.org-logo {
    text-align: center;
    margin-bottom: 14.25pt;
    /* 19px */
}

.company-logo img {
    height: auto;
    position: absolute;
    left: 4mm;
    bottom: -7mm;
    width: 50mm;
}

.company-name {
    position: absolute;
    color: #fff;
    font-weight: bold;
    left: 22.5mm;
    width: 20mm;
    font-size: 2mm;
    letter-spacing: 2mm;
    bottom: -1mm;
}

.company-name2 {
    position: absolute;
    bottom: 11mm;
    left: 22.5mm;
    color: #fff;
    letter-spacing: 2mm;
    font-size: 2mm;
    font-weight: bold;
}

.company-logo2 img {
    height: auto;
    position: absolute;
    left: 4mm;
    width: 50mm;
    bottom: 5mm;
}

.user-photo {
    position: absolute;
    left: 7.5pt;
    /* 10px */
    top: 7.5pt;
    /* 10px */
    height: 75pt;
    /* 100px */
    width: 75pt;
    /* 100px */
    border-radius: 50%;
    object-fit: cover;
}

.user-photo img {
    width: 20.75mm;
    height: 20.75mm;
    border-radius: 50%;
    position: absolute;
    top: 10.25mm;
    left: 15mm;
    border: 5px solid #fef;
}

.signature img {
    position: absolute;
    height: 16mm;
    top: 35mm;
    left: 11mm;
}

.user-name {
    font-size: 4.5mm;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30mm;
    position: absolute;
    top: 46mm;
    left: 14mm;
    font-family: "Gupter", serif;
    width: 29mm;
    background: linear-gradient(to top, #f237ef, #fc5252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.id-number {
    font-size: 2mm;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 60.5mm;
    left: 20mm;
    width: 19mm;
}

.barcode img {
    position: absolute;
    left: 15.5mm;
    top: 55mm;
    height: 20mm;
    width: 28mm
}

.id-title {
    font-size: 2mm;
    position: absolute;
    top: 51mm;
    left: 19.5mm;
    width: 35mm;
    opacity: 0.9;
    color: #3e3c3c;
    font-weight: bold;
}

.org-name {
    font-size: -1.1667em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 58mm;
    left: 12mm;
}

.org-address {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 64mm;
    left: 25mm;

}

.id-card-wrapper-back {
    position: relative;
    width: 167.25pt;
    /* 223px */
    height: 237.75pt;
    /* 317px */
    margin: 17.25pt;
    /* 23px */
    background-color: #ffffff;
    border: 0.75pt solid #ffffff;
    /* 1px */
    overflow: hidden;
    left: 190.5pt;
    /* 254px */
    top: -255.75pt;
    /* -341px */
}

.id-card-wrapper-back .id-card-background {
    background-color: #fef;
    height: 100%;
}

.id-card-wrapper-back .id-blue1 {
    bottom: 57mm;
    right: -1mm;
    width: 61mm;
    height: 55mm;
    background: linear-gradient(to top right, #f237ef, #fc5252);
    transform: skewY(7deg);
    position: absolute;
}

/* Content Styles */
.id-card-content {
    position: absolute;
    top: 40.5pt;
    /* 54px */
}

.id-card-wrapper-back .id-card-content {
    position: absolute;
    top: 27mm;
    /* 72px */
    padding: 2mm;
    /* 8px */
}

.terms-and-condition {
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18mm;
    position: absolute;
    top: 3mm;
    left: -13mm;
    background: linear-gradient(to top right, #f237ef, #fc5252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Gupter", serif;
    width: 60mm;
    padding-left: 2.5mm;
}



.id-policy {
    font-size: 3mm;
    margin-bottom: 5mm;
    position: absolute;
    width: 54mm;
    top: 8mm;
    font-weight: 500;
    font-family: "Gupter", serif;
    left: 1mm;
    padding-left: 3mm;
}

.id-issue-date {
    position: absolute;
    top: 24mm;
    left: 1mm;
    width: 47mm;
    font-family: "Gupter", serif;
    font-size: 0.8333em;
    padding-left: 3mm;
}

.id-issue-date p {
    position: absolute;
    bottom: -3.5mm;
    left: 22.5mm;
}

.id-expiry-date {
    position: absolute;
    top: 29mm;
    left: 1mm;
    width: 47mm;
    font-family: "Gupter", serif;
    font-size: 0.8333em;
    padding-left: 3mm;
}

.address1 {
    position: absolute;
    top: 40mm;
    font-family: "Gupter", serif;
    width: 17mm;
    font-weight: bold;
    font-size: 0.8333em;
    padding-left: 2mm;

}

.address p {
    position: absolute;
    top: 41mm;
    width: 50mm;
    font-size: 3mm;
    font-family: "Gupter", serif;
    padding-left: 2mm;
}