@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.certificate-wrapper {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 550px;
    background: #fffefd;
    margin: auto;
    overflow: hidden;
    line-height: normal;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.certificate-wrapper .certificate-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 2px solid none;
    
}

.certificate-wrapper .certificate-background .triangle-topleft {
    position: absolute;
    border-top: 100px solid transparent;
    border-right: 100px solid rgb(109, 81, 144);
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    margin-top: 6px;
    margin-left: 3px;
}

.certificate-wrapper .certificate-background .triangle-topright {
    position: absolute;
    border-top: 100px solid transparent;
    border-right: 100px solid rgb(212, 78, 117);
    width: 21px;
    height: 0;
    top: 0;
    right: 0;
    transform: rotate(270deg);
    margin-top: -1px;
    margin-right: -34px;
}

.certificate-wrapper .certificate-background .rect1 {
    width: 80px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(109, 81, 144);
    justify-content: center;
    position: absolute;
    transform: rotate(135deg);
    margin-top: 7px;
    margin-left: 91px;
}

.certificate-wrapper .certificate-background .rect2 {
    width: 240px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(109, 81, 144);
    justify-content: center;
    position: absolute;
    transform: rotate(135deg);
    margin-top: 45px;
    margin-left: 38px;
}

.certificate-wrapper .certificate-background .rect3 {
    width: 109px;
    height: 34px;
    border-radius: 20px;
    background-color: rgb(212, 78, 117);
    justify-content: center;
    position: absolute;
    transform: rotate(135deg);
    margin-top: 14px;
    margin-left: 867px;
}

.certificate-wrapper .certificate-background .rect4 {
    width: 310px;
    height: 39px;
    border-radius: 20px;
    background-color: rgb(212, 78, 117);
    justify-content: center;
    position: absolute;
    transform: rotate(135deg);
    margin-top: 45px;
    margin-left: 827px;
}

.certificate-wrapper .certificate-background .rect5,
.certificate-wrapper .certificate-background .rect6,
.certificate-wrapper .certificate-background .rect7,
.certificate-wrapper .certificate-background .rect8,
.certificate-wrapper .certificate-background .rect9 {
    width: 240px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(109, 81, 144);
    justify-content: center;
    position: absolute;
    transform: rotate(135deg);
    bottom: 50px;
}

.certificate-wrapper .certificate-background .rect5 {
    left: 50px;
    margin-left: -277px;
    margin-bottom: -58px;
    width: 338px;
    background-color: rgb(212, 78, 117);
}

.certificate-wrapper .certificate-background .rect6 {
    left: 150px;
    width: 144px;
    margin-bottom: -73px;
    margin-left: -243px;
    background-color: rgb(212, 78, 117);
}

.certificate-wrapper .certificate-background .rect7 {
    left: 250px;
    margin-left: -429px;
    width: 300px;
    margin-bottom: -135px;
    background-color: rgb(212, 78, 117);
}

.certificate-wrapper .certificate-background .rect8 {
    left: 350px;
    margin-left: 537px;
    margin-bottom: 79px;
    width: 300px;
}

.certificate-wrapper .certificate-background .rect9 {
    left: 450px;
    transform: rotate(90deg);
    margin-left: 337px;
    margin-bottom: -170px;
    height: 40px;
    border-radius: 20px;
}

.certificate-wrapper .certificate-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.certificate-wrapper .certificate-content .title {
    color: rgb(109, 81, 144);
    font-weight: 500;
    font-size: 80px;
    text-align: center;
    font-family: "Jost", sans-serif;
    margin-bottom: 331px;
}

.certificate-wrapper .certificate-content .subtitle {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    top: 20px;
    bottom: 10px;
    color: rgb(220, 0, 173);
    margin-top: 93px;
    margin-left: 56px;
    font-size: 10px;
    font-weight: 600;

}

.certificate-wrapper .certificate-content .candidate-name {
    position: absolute;
    top: 20px;
    bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(193, 1, 152);
    margin-top: 133px;
    margin-bottom: 116px;
    margin-left: 94px;
    font-size: 36px;
}

.certificate-wrapper .certificate-content .sign1 {
    position: absolute;
    width: 237px;
    height: 3px;
    background-color: rgb(220, 0, 173);
    margin-top: -79px;
    margin-left: 363px;
}

.certificate-wrapper .certificate-content .sign2 {
    position: absolute;
    width: 237px;
    height: 3px;
    background-color: rgb(220, 0, 173);
    margin-top: -77px;
    margin-left: -109px;
}

.info p {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: rgb(220, 0, 173);
    margin: -213px;
    margin-left: -79px;
    text-align: center;

}

.log img {
    position: absolute;
    height: 226px;
    width: 300px;
    margin-top: -193px;
    margin-left: -126px;
}

.signame1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 448px;
    margin-top: -68px;
    color: rgb(220, 0, 173);
    ;
}

.signame1 h3 {
    font-size: 15px;
    margin-top: -53px;
    margin-left: -15px;
    color: #303030;
}

.signame2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: -24px;
    margin-top: -66px;
    color: rgb(220, 0, 173);
    ;
}

.signame2 img {
    position: absolute;
    height: 40px;
    margin-top: -73px;
    margin-left: -32px;
}

.cname{
    position: absolute;
    font-family: "Teko", sans-serif;
    margin-left: 214px;
    margin-top: -53px;
    font-weight: 500;
    font-size: 12px;
    color: rgb(109, 81, 144);
}