.item1 ,.item2 {
    border: 3px solid red;
    background-color: pink;
    height: 150px;
    width: 150px;
    text-align: center;
    height: 400px;
    margin: 4px;
}

 .item3{
    border: 3px solid red;
    background-color: pink;
    height: 150px;
    width: 150px;
    text-align: center;
    flex-grow: 1;
    height: 400px;
    margin: 4px;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    body {
      background-color: rgb(34, 155, 196);
    }

    .item1 , .item2 , .item3 {
        background-color: violet;
        color: white;
    } 

  }
