.container{
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer";
    min-height: 188vh;
}

header{
    grid-area: header;
    padding: 2rem;
    margin: 2px;
    background-color: #1e293b;
    color: white;
}

nav{
    grid-area: nav;
    padding: 2rem;
    margin: 2px;
    background-color: #334155;
    color: white;

}

main{
    grid-area: content;
    padding: 1rem;
    margin: 2px;
    background-color: #475569;
    color: white;

}

aside{
    grid-area: sidebar;
    padding: 2rem;
    margin: 2px;
    background-color: #5e7cae;
    color: white;

}


aside > img{
    height: 100px;
    width: auto;
    margin-top: 50px;
    border-radius: 10px;
    justify-content: center;
    border: 2px solid rgb(202,174,174);

}

footer{
    grid-area: footer;
    padding: 2rem;
    margin: 2px;
    background-color: #1e293b;
}

@media only screen and (max-width: 800px) {
    body{
        background-color: red;
    }

    header{
        background-color: aqua;
    }

    nav{
        color: white;
    }

    aside{
        background-color: bisque;
    }

    footer{
        color: yellow;
    }
    
}